.subscribe-sec {
    padding: 40px 50px;
    transform: translate(0px, 50%);
    position: relative;
    z-index: 3;
    margin-top: -76px;
    .sec-title {
        font-size: 30px;
        font-weight: 800;
        line-height: 40px;
    }
    .newsletter-form {
        min-width: 520px;
        border-radius: 4px;
        .form-control {
            height: 70px;
            border-radius: 4px;
            padding: 0 200px 0 30px;
        }
        .th-btn {
            width: auto;
            border-radius: 4px;
            height: 60px;
            right: 5px;
            padding: 0 40px;
        }
    }
}
@include lg {
    .subscribe-sec .newsletter-form {
        min-width: fit-content;
    }
}
@include md {
    .subscribe-sec {
        transform: none;
        margin-top: 0;
        margin-bottom: 80px;
        text-align: center;
        .newsletter-form {
            margin: auto;
        }
    }
}
@include xs {
    .subscribe-sec .newsletter-form {
        display: block;
        padding-bottom: 10px;
        .form-control {
            padding: 0 30px;
            border: 0;
        }
        .th-btn {
            position: relative;
            width: -webkit-fill-available;
            right: 0;
            margin: 0 10px;
        }
    }
}
@include vxs {
    .subscribe-sec {
        padding: 30px;
    }
}